---
import Layout from "@/layouts/base.astro"

const experience = new Date().getFullYear() - 2019
const title = "Kevin McGonigle"
const description = `Professional builder of cool internet things for over ${experience} years. Recreational one for many more.`
const jobs = [
  {
    company: "\u2588".repeat(6),
    role: "Senior Software Engineer",
    url: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
    from: 2025,
    to: null,
    description: "Watch this space.",
  },
  {
    company: "Robin AI",
    role: "Senior Full-Stack Engineer",
    url: "https://www.robinai.com",
    from: 2024,
    to: 2025,
    description:
      "My fintech stories were so fascinating, I had to ramp up the intrigue and try legaltech. Played with shiny new LLM toys to draft NDAs, review MSAs, plus a bunch of other acronyms that went over my head.",
  },
  {
    company: "WeTransfer",
    role: "Senior Software Engineer",
    url: "https://wetransfer.com",
    from: 2022,
    to: 2024,
    description:
      "You get a file, you get a file, everybody gets a file - and you can thank me (and my lovely colleagues) for it. Architecting, integrating, scaling, and lots of trips to Amsterdam on the Eurostar. Fun times.",
  },
  {
    company: "Patreon",
    role: "Software Engineer",
    url: "https://patreon.com",
    from: 2020,
    to: 2022,
    description:
      "Got creators paid from the comfort of my couch (cheers, COVID). Built lots of super exciting payments processing and actually exciting content moderation tech.",
  },
  {
    company: "Aryza",
    role: "Software Engineer",
    url: "https://aryza.com",
    from: 2018,
    to: 2019,
    description:
      "Cut my engineering teeth at the Dublin-based fintech. Built some cool things, broke (and later, fixed) other things, sucked at 5-a-side.",
  },
] as const
---

<Layout title={title} description={`${title}. ${description}`}>
  <div class="mb-12">
    <h1 class="dark:text-secondary text-3xl">{title}</h1>
  </div>
  <div class="mb-16 space-y-4">
    <p>
      {description}
    </p>
    <p>
      Currently building cool internet things at <a
        class="decoration-primary hover:decoration-secondary focus:decoration-secondary hover:text-secondary focus:text-secondary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
        href={jobs[0].url}
        rel="noopener"
        target="_blank">{jobs[0].company}</a
      >.
    </p>
    <p>You can call me <span class="dark:text-secondary italic">Kev</span>.</p>
  </div>
  <h2 class="dark:text-secondary mb-4 text-xl">Work</h2>
  <div class="mb-16 space-y-12">
    {
      jobs.map((job) => (
        <div class="flex flex-col gap-2 sm:flex-row">
          <p class="mt-1 min-w-[20%] text-sm font-bold text-nowrap">
            {job.to ? `${job.from} — ${job.to}` : `Since ${job.from}`}
          </p>
          <div class="sm:max-w-[75%]">
            <h3 class="dark:text-secondary mb-2 text-lg font-bold">
              {job.role} @{" "}
              <a
                class="decoration-primary hover:decoration-secondary focus:decoration-secondary hover:text-secondary focus:text-secondary dark:hover:decoration-primary dark:focus:decoration-primary dark:hover:text-primary dark:focus:text-primary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
                href={job.url}
                rel="noopener"
                target="_blank"
              >
                {job.company}
              </a>
            </h3>
            <p>{job.description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <h2 class="dark:text-secondary mb-4 text-xl">School</h2>
  <div class="spacy-y-4 mb-16">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="mt-1 min-w-[20%] text-sm font-bold text-nowrap">2016 — 2020</p>
      <div class="sm:max-w-[75%]">
        <h3 class="dark:text-secondary mb-2 text-lg font-bold">
          BSc Computer Applications & Software Engineering @ <a
            class="decoration-primary hover:decoration-secondary focus:decoration-secondary hover:text-secondary focus:text-secondary dark:hover:decoration-primary dark:focus:decoration-primary dark:hover:text-primary dark:focus:text-primary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
            href="https://dcu.ie"
            rel="noopener"
            target="_blank">Dublin City University</a
          >
        </h3>
        <p>
          Graduated with first-class honours at the top of my class - cementing
          my status as a massive nerd.
        </p>
      </div>
    </div>
  </div>
</Layout>
