---
import Layout from "@/layouts/base.astro"

const experience = new Date().getFullYear() - 2019
const title = "Kevin McGonigle"
const description = `Professional builder of cool internet things for over ${experience} years. Recreational one for many more.`
const jobs = [
  {
    company: "Robin AI",
    role: "Senior Full-Stack Engineer",
    url: "https://www.robinai.com",
    from: 2024,
    to: null,
    description: "Watch this space.",
  },
  {
    company: "WeTransfer",
    role: "Senior Software Engineer",
    url: "https://wetransfer.com",
    from: 2022,
    to: 2024,
    description:
      "Crafting the core services central to WeTransfer's products. Leading the design and delivery of integrations with market-leading creative tools. Extending file preview capabilities with support for additional formats. Advocating for org-wide codebase modernisation, refactoring and quality improvement initiatives.",
  },
  {
    company: "Patreon",
    role: "Software Engineer",
    url: "https://patreon.com",
    from: 2020,
    to: 2022,
    description:
      "Rebuilt the payments platform - drastically improving resiliency, scalability and performance. Designed and developed critical content moderation tools and automations. Instrumental in the early stages of an overhaul of the core membership platform, pioneering the adoption of modern web technologies, frameworks and practices.",
  },
  {
    company: "Aryza",
    role: "Software Engineer",
    url: "https://aryza.com",
    from: 2018,
    to: 2019,
    description:
      "Engineered new features and resolved issues across Aryza's suite of products. Owned the delivery of a new cloud-based document management service and accompanying user interface. Migrated legacy code to modular web apps supported by a modern microservices architecture.",
  },
] as const
---

<Layout title={title} description={`${title}. ${description}`}>
  <div class="mb-12">
    <h1 class="dark:text-secondary text-3xl">{title}</h1>
  </div>
  <div class="mb-16 space-y-4">
    <p>
      {description}
    </p>
    <p>
      Currently building cool internet things at <a
        class="decoration-primary hover:decoration-secondary hover:text-secondary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
        href={jobs[0].url}
        rel="noopener"
        target="_blank">{jobs[0].company}</a
      >.
    </p>
    <p>You can call me <span class="dark:text-secondary italic">Kev</span>.</p>
  </div>
  <h2 class="dark:text-secondary mb-4 text-xl">Work</h2>
  <div class="mb-16 space-y-12">
    {
      jobs.map((job) => (
        <div class="flex flex-col gap-2 sm:flex-row">
          <p class="mt-1 min-w-[20%] text-sm font-bold text-nowrap">
            {job.to ? `${job.from} — ${job.to}` : `Since ${job.from}`}
          </p>
          <div class="sm:max-w-[75%]">
            <h3 class="dark:text-secondary mb-2 text-lg font-bold">
              {job.role} @{" "}
              <a
                class="decoration-primary hover:decoration-secondary hover:text-secondary dark:hover:decoration-primary dark:hover:text-primary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
                href={job.url}
                rel="noopener"
                target="_blank"
              >
                {job.company}
              </a>
            </h3>
            <p>{job.description}</p>
          </div>
        </div>
      ))
    }
  </div>
  <h2 class="dark:text-secondary mb-4 text-xl">School</h2>
  <div class="spacy-y-4 mb-16">
    <div class="flex flex-col gap-2 sm:flex-row">
      <p class="mt-1 min-w-[20%] text-sm font-bold text-nowrap">2016 — 2020</p>
      <div class="sm:max-w-[75%]">
        <h3 class="dark:text-secondary mb-2 text-lg font-bold">
          BSc Computer Applications & Software Engineering @ <a
            class="decoration-primary hover:decoration-secondary hover:text-secondary dark:hover:decoration-primary dark:hover:text-primary underline decoration-1 underline-offset-4 transition-colors duration-300 ease-in-out"
            href="https://dcu.ie"
            rel="noopener"
            target="_blank">Dublin City University</a
          >
        </h3>
        <p>
          Graduated with first-class honours at the top of my class. Awarded the
          DCU Academic Scholarship for academic excellence. Mentored junior
          students during programming lab sessions.
        </p>
      </div>
    </div>
  </div>
</Layout>
